.section.cards-container > div > p::after {
  content: "----------";
  color: transparent;
  margin-left: 20px;
  height: .2px;
  width: 76px;
  margin-top: 20px;
  background: linear-gradient(
    to bottom,
    transparent 8px,
    #008edd 9px,
    #a2cf42 1px,
    transparent 10px
  );
}

.card-link .cards a:any-link {
  text-decoration: none;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  min-height: 255px;
  max-height: 255px;
  overflow: hidden;
  transition: transform 0.4s ease;
  transform-origin: 50% 50%;
}

.card-link .cards li:hover img{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  width: 100%;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--accent-background-color);
  background-color: var(--accent-background-color);
  overflow: hidden;
}

.cards .cards-card-body {
  margin: 16px;
  padding: 0 0 5px;
}

.cards .cards-card-body ul {
  list-style: disc;
}

.cards .cards-card-body p, 
.cards .cards-card-body li {
  font-size: var(--body-font-size-xs);
  line-height: 28px;
}

.cards .cards-card-body p > strong,
.cards .cards-card-body h2 {
  line-height: 30px;
  font-size: var(--heading-font-size-m);
  font-weight: 500;
}

.cards .cards-card-image {
  line-height: 0;
  background-color: transparent;
}

.cards.gradient .cards-card-image {
  border-bottom: var(--border-bottom);
  border-image-slice: var(--border-image-slice);
  border-image-source: linear-gradient(to right, var(--gradient-border-start-color), var(--gradient-border-start-color) 0%, var(--gradient-border-end-color) 100%, var(--highlight-background-color) 2%);;
  border-image-width: var(--border-image-width);
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}



/* Card Generic Styles*/
.cards > ul {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
.cards > ul > li {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0;
  height: auto;
  min-height: auto;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
}
.cards > ul > li .cards-card-image {
  position: relative;
  display: block;
}
.cards > ul > li .cards-card-body {
  display: block;
  background-color: var(--background-color);
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
      margin-top: 16px;
}
.cards > ul > li .cards-card-body h1 {
  margin: 0;
  font-size: 26px;
  line-height: 36px;
}
.cards > ul > li .cards-card-body p {
  margin: 8px 0;
  font-size: 18px;
  line-height: 26px;


  color: #5E5E60;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}
.cards > ul > li .cards-card-body p.button-container {
  margin: 24px 0 0;
}



/* Card Image Top */
.cards > ul > li.image-top {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
}
.cards > ul > li.image-top .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}
.cards > ul > li.image-top .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}


/* Card Image Bottom */
.cards > ul > li.image-bottom {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column-reverse;
}
.cards > ul > li.image-bottom .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.cards > ul > li.image-bottom .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}


/* Card Image Left */
.cards > ul > li.image-left {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: row;
  gap: 20px;
}
.cards > ul > li.image-left .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.image-left .cards-card-body {
  padding: 0;
  margin: 10px 20px;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}
.cards > ul > li.image-left .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

}
.cards > ul > li.image-left .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.image-left picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.image-left img {
  width: 100%;
  height: 100%;
  max-height: initial;
  min-height: initial;
  object-fit: cover;
  object-position: center;
}



/* Card Image Right */
.cards > ul > li.image-right {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: row-reverse;
  gap: 20px;
}
.cards > ul > li.image-right .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.image-right .cards-card-body {
  padding: 0;
  margin: 10px 20px;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}
.cards > ul > li.image-right .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

}
.cards > ul > li.image-right .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.image-right picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.image-right img {
  width: 100%;
  height: 100%;
  max-height: initial;
  min-height: initial;
  object-fit: cover;
  object-position: center;
}



/* Card Teaser Overlay */
.cards > ul > li.teaser-overlay {
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
  gap: 0;
  position: relative;
}
.cards > ul > li.teaser-overlay .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.teaser-overlay .cards-card-body {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  color: var(--text-light);
  display: block;
  align-content: center;
}
.cards > ul > li.teaser-overlay .cards-card-body div[data-aue-type="richtext"] {
  width: 50%;
}
.cards > ul > li.teaser-overlay .cards-card-body p.button-container a {
  color: var(--text-light);
}
.cards > ul > li.teaser-overlay .cards-card-body p.button-container a::after {
  color: var(--text-light);
}
.cards > ul > li.teaser-overlay .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

}
.cards > ul > li.teaser-overlay .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.teaser-overlay picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.teaser-overlay img {
  width: 100%;
  height: 100%;
  max-height: initial;
  object-fit: cover;
  object-position: center;
}



/* Card Teaser Card */
.cards > ul > li.teaser-card {
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
  gap: 0;
  position: relative;
}
.cards > ul > li.teaser-card .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.teaser-card .cards-card-body {
  width: auto;
  max-width: 50%;
  height: auto;
  padding: 20px;
  margin: auto;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
  color: var(--text-light);
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  left: 0;
  right: 0;
  display: block;
    align-content: center;
}
.cards > ul > li.teaser-card .cards-card-body p.button-container a {
  color: var(--text-light);
}
.cards > ul > li.teaser-card .cards-card-body p.button-container a::after {
  color: var(--text-light);
}
.cards > ul > li.teaser-card .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}
.cards > ul > li.teaser-card .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.teaser-card picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.teaser-card img {
  width: 100%;
  height: 100%;
  max-height: initial;
  object-fit: cover;
  object-position: center;
}

.cards > ul > li.teaser-overlay  a.button{
  padding: 14px 15px !important;
}
.cards > ul > li.teaser-card .cards-card-body a.button{
   padding: 14px 15px !important;
}


/* Responsive Styles */
@media (width < 1024px) {

  .cards-container .cards-wrapper {
    padding: 0 5%;
  }
  .cards-container .cards-wrapper .cards > ul > li img {
    min-height: initial;
    max-height: initial;
  }

  .cards-container .cards-wrapper .cards > ul {
    display: block;
  }

  .cards-container .cards-wrapper .cards > ul > li {
    width: 100%;
    margin: 15px 0;
    flex-direction: column;
  }

  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h1, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h2, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h3, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h4, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h5, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h6 {
    margin: 0; 
    padding: 0;
    font-size: 20px;
  }
  .cards > ul > li.teaser-overlay .cards-card-body{
    width:100%;
  }
  .cards-container .cards-wrapper .cards > ul > li.teaser-overlay img{
    min-height: 270px;
  }
  .cards > ul > li.teaser-overlay .cards-card-body div {
    width: 100%;
  }
  .cards > ul > li.teaser-overlay .cards-card-body div[data-aue-type="richtext"]{
    width: 100%;
  }
}


@media (width < 768px) {

  .cards-container .cards-wrapper {
    padding: 0 4%;
  }
  
}


.blog-cards .default-content-wrapper{
      display: flex;
    justify-content: space-between;
    align-items: center;
padding: 0px;
margin: 0px;
max-width: unset;
margin-bottom: 40px;
}

.blog-cards .default-content-wrapper h2{
margin-top: 0px;
    margin-bottom: 0px;
    color: #1B1B1E;
font-family: "DM Sans";
font-size: 30px;
font-weight: 500;
line-height: 40px;
}
.blog-cards .default-content-wrapper .button-container a{
color: #FFF;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

 .blog-cards .default-content-wrapper .button-container{
  display: flex;
    height: 52px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #1B1B1E;
    /* margin-top: 0px; */
 }
.blog-cards .default-content-wrapper .button-container::after {
display: none;
}
.blog-cards .default-content-wrapper .button-container .button{

}

.blog-cards .default-content-wrapper .button-container .button::after{
display: none;
}

.blog-cards {
  /* padding: 40px 0; */
        width: 1264px;
    margin: 0 auto !important;
    padding-top: 60px;
    /* background-color: #F7F7F7; */
}
.blog-cards .cards-card-image img {
    border-radius: 10px;
    height: unset !important;
    min-height: unset !important;
}
.blog-cards .cards > ul > li {
  background: transparent !important;
}
.blog-cards .cards .cards-card-body {
  background: transparent !important;
}
.blog-cards .cards-wrapper {
   max-width: unset;
  /*margin: 0 auto; */
  padding: 0px !important;
  margin: 0px !important;
}

.blog-cards .cards.block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 32px;
}

.blog-cards .cards.block li {
  border-radius: 12px;
  overflow: hidden;
  font-size: 14px;
  color: #929292;
  /* box-shadow: 0 2px 12px rgba(0,0,0,0.05); */
  transition: transform 0.25s ease;
  position: relative;
}
.blog-cards .cards.block li::before {
  content: "";
  position: absolute;
    left: -2px;
    top: 13px;
    width: 4px;
    height: 4px;
  background: #929292; /* disc color */
  border-radius: 50%;
}
.blog-cards .cards.block li:first-of-type:before {
  display: none;
}
/* .cards.block li:hover {
  transform: translateY(-4px);
} */

.blog-cards .cards-card-image picture,
.blog-cards .cards-card-image img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-cards .cards-card-body {
  padding: 24px;
}

.blog-cards .cards-card-body h4 {
  color: #1B1B1E;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.blog-cards .cards-card-body p {
  margin: 0 0 12px 0;
  color: #555;
  line-height: 1.5;
  font-size: 15px;
}

.blog-cards .cards-card-body ul {
  padding: 0;
  margin: 0 0 16px 0;
  display: flex;
  gap: 12px;
  list-style: none;
  font-size: 14px;
  color: #777;
}

.blog-cards .cards-card-body .button-container {
  margin-top: 16px;
}

.blog-cards .cards .cards-card-body .button {
  text-decoration: none;
  font-weight: 600;
  color: #1F4DA8;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.blog-cards .cards .cards-card-body .button::after {
  display: none;
}

/* .cards-card-body .button:hover {
  text-decoration: underline;
} */

/* RESPONSIVE */
@media (max-width: 900px) {
  .blog-cards .cards.block ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blog-cards .cards.block ul {
    grid-template-columns: 1fr;
  }
}