.section.cards-container > div > p::after {
  content: "----------";
  color: transparent;
  margin-left: 20px;
  height: .2px;
  width: 76px;
  margin-top: 20px;
  background: linear-gradient(
    to bottom,
    transparent 8px,
    #008edd 9px,
    #a2cf42 1px,
    transparent 10px
  );
}

.card-link .cards a:any-link {
  text-decoration: none;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  min-height: 255px;
  max-height: 255px;
  overflow: hidden;
  transition: transform 0.4s ease;
  transform-origin: 50% 50%;
}

.card-link .cards li:hover img{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  width: 100%;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--accent-background-color);
  background-color: var(--accent-background-color);
  overflow: hidden;
}

.cards .cards-card-body {
  margin: 16px;
  padding: 0 0 5px;
}

.cards .cards-card-body ul {
  list-style: disc;
}

.cards .cards-card-body p, 
.cards .cards-card-body li {
  font-size: var(--body-font-size-xs);
  line-height: 28px;
}

.cards .cards-card-body p > strong,
.cards .cards-card-body h2 {
  line-height: 30px;
  font-size: var(--heading-font-size-m);
  font-weight: 500;
}

.cards .cards-card-image {
  line-height: 0;
  background-color: transparent;
}

.cards.gradient .cards-card-image {
  border-bottom: var(--border-bottom);
  border-image-slice: var(--border-image-slice);
  border-image-source: linear-gradient(to right, var(--gradient-border-start-color), var(--gradient-border-start-color) 0%, var(--gradient-border-end-color) 100%, var(--highlight-background-color) 2%);;
  border-image-width: var(--border-image-width);
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}



/* Card Generic Styles*/
.cards > ul {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
.cards > ul > li {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0;
  height: auto;
  min-height: auto;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
}
.cards > ul > li .cards-card-image {
  position: relative;
  display: block;
  width: 46.1%;
}
.cards > ul > li .cards-card-body {
  display: block;
  background-color: var(--background-color);
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
      margin-top: 16px;
}
.cards > ul > li .cards-card-body h1 {
  margin: 0;
  font-size: 26px;
  line-height: 36px;
}
.cards > ul > li .cards-card-body p {
  margin: 8px 0;
  font-size: 18px;
  line-height: 26px;


  color: #5E5E60;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}
.cards > ul > li .cards-card-body p.button-container {
  margin: 24px 0 0;
}



/* Card Image Top */
.cards > ul > li.image-top {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
}
.cards > ul > li.image-top .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}
.cards > ul > li.image-top .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}


/* Card Image Bottom */
.cards > ul > li.image-bottom {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column-reverse;
}
.cards > ul > li.image-bottom .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.cards > ul > li.image-bottom .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}


/* Card Image Left */
.cards > ul > li.image-left {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: row;
  gap: 20px;
}
.cards > ul > li.image-left .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.image-left .cards-card-body {
  padding: 0;
  margin: 10px 20px;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}
.cards > ul > li.image-left .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

}
.cards > ul > li.image-left .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.image-left picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.image-left img {
  width: 100%;
  height: 100%;
  max-height: initial;
  min-height: initial;
  object-fit: cover;
  object-position: center;
}



/* Card Image Right */
.cards > ul > li.image-right {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: row-reverse;
  gap: 20px;
}
.cards > ul > li.image-right .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.image-right .cards-card-body {
  padding: 0;
  margin: 10px 20px;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}
.cards > ul > li.image-right .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

}
.cards > ul > li.image-right .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.image-right picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.image-right img {
  width: 100%;
  height: 100%;
  max-height: initial;
  min-height: initial;
  object-fit: cover;
  object-position: center;
}



/* Card Teaser Overlay */
.cards > ul > li.teaser-overlay {
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
  gap: 0;
  position: relative;
}
.cards > ul > li.teaser-overlay .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.teaser-overlay .cards-card-body {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  color: var(--text-light);
  display: block;
  align-content: center;
}
.cards > ul > li.teaser-overlay .cards-card-body div[data-aue-type="richtext"] {
  width: 50%;
}
.cards > ul > li.teaser-overlay .cards-card-body p.button-container a {
  color: var(--text-light);
}
.cards > ul > li.teaser-overlay .cards-card-body p.button-container a::after {
  color: var(--text-light);
}
.cards > ul > li.teaser-overlay .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

}
.cards > ul > li.teaser-overlay .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.teaser-overlay picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.teaser-overlay img {
  width: 100%;
  height: 100%;
  max-height: initial;
  object-fit: cover;
  object-position: center;
}



/* Card Teaser Card */
.cards > ul > li.teaser-card {
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
  gap: 0;
  position: relative;
}
.cards > ul > li.teaser-card .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}
.cards > ul > li.teaser-card .cards-card-body {
  width: auto;
  max-width: 50%;
  height: auto;
  padding: 20px;
  margin: auto;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
  color: var(--text-light);
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  left: 0;
  right: 0;
  display: block;
    align-content: center;
}
.cards > ul > li.teaser-card .cards-card-body p.button-container a {
  color: var(--text-light);
}
.cards > ul > li.teaser-card .cards-card-body p.button-container a::after {
  color: var(--text-light);
}
.cards > ul > li.teaser-card .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}
.cards > ul > li.teaser-card .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
.cards > ul > li.teaser-card picture {
  width: 100%;
  height: 100%;
}
.cards > ul > li.teaser-card img {
  width: 100%;
  height: 100%;
  max-height: initial;
  object-fit: cover;
  object-position: center;
}

.cards > ul > li.teaser-overlay  a.button{
  padding: 14px 15px !important;
}
.cards > ul > li.teaser-card .cards-card-body a.button{
   padding: 14px 15px !important;
}


/* Responsive Styles */
@media (width < 1024px) {

  .cards-container .cards-wrapper {
    padding: 0 5%;
  }
  .cards-container .cards-wrapper .cards > ul > li img {
    min-height: initial;
    max-height: initial;
  }

  .cards-container .cards-wrapper .cards > ul {
    display: block;
  }

  .cards-container .cards-wrapper .cards > ul > li {
    width: 100%;
    margin: 15px 0;
    flex-direction: column;
  }

  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h1, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h2, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h3, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h4, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h5, 
  .cards-container .cards-wrapper .cards > ul > li .cards-card-body h6 {
    margin: 0; 
    padding: 0;
    font-size: 20px;
  }
  .cards > ul > li.teaser-overlay .cards-card-body{
    width:100%;
  }
  .cards-container .cards-wrapper .cards > ul > li.teaser-overlay img{
    min-height: 270px;
  }
  .cards > ul > li.teaser-overlay .cards-card-body div {
    width: 100%;
  }
  .cards > ul > li.teaser-overlay .cards-card-body div[data-aue-type="richtext"]{
    width: 100%;
  }
}


@media (width < 768px) {

  .cards-container .cards-wrapper {
    padding: 0 4%;
  }
  
}


/* blogs section variant 1 */
.blog-cards .cards>ul>li {
  flex: none;
}

.blog-cards .cards > ul > li .cards-card-image,
.blog-cards2 .cards > ul > li .cards-card-image {
width: 100%;
}
.blog-cards2 .default-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  max-width: unset;
  margin-bottom: 40px;
}

.blog-cards2 .default-content-wrapper h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1B1B1E;
  font-family: "DM Sans";
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.blog-cards2 .default-content-wrapper .button-container a {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.blog-cards2 .default-content-wrapper .button-container a::after {
  display: none;
} 
.blog-cards .default-content-wrapper .button-container a:hover,
.blog-cards .default-content-wrapper .button-container a:focus {
  text-decoration: none;
}

.blog-cards2 .default-content-wrapper .button-container {
  display: flex;
  height: 52px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #1B1B1E;
  /* margin-top: 0px; */
}

.blog-cards .default-content-wrapper .button-container::after {
  display: none;
}

.blog-cards .default-content-wrapper .button-container .button {}

.blog-cards .default-content-wrapper .button-container .button::after {
  display: none;
}

.blog-cards {
  /* padding: 40px 0; */
  max-width: 1440px;
  margin: 0 auto !important;
  padding-top: 60px;
      padding: 60px 88px;
  /* background-color: #F7F7F7; */
  background: #F7F7F7;
}

.blog-cards .cards-card-image img {
  border-radius: 10px;
  height: unset !important;
  min-height: unset !important;
}

.blog-cards .cards>ul>li {
  background: transparent !important;
}

.blog-cards .cards .cards-card-body {
  background: transparent !important;
}

.blog-cards .cards-wrapper {
  max-width: unset;
  /*margin: 0 auto; */
  padding: 0px !important;
  margin: 0px !important;
}

.blog-cards .cards.block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 32px;
}

.blog-cards .cards.block > ul > li {
  border-radius: 12px;
  overflow: hidden;
  font-size: 14px;
  color: #929292;
  /* box-shadow: 0 2px 12px rgba(0,0,0,0.05); */
  transition: transform 0.25s ease;
  position: relative;
  font-weight: 400;
    line-height: 20px;
    width: 31.6456% !important;
}

.blog-cards .cards.block li::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 13px;
  width: 4px;
  height: 4px;
  background: #929292;
  /* disc color */
  border-radius: 50%;
}

.blog-cards .cards.block li:first-of-type:before {
  display: none;
}

.blog-cards .cards-card-image picture,
.blog-cards .cards-card-image img {
  display: block;
  width: 100%;
  /* height: 220px; */
  /* object-fit: cover; */
}

.blog-cards .cards-card-body {
  padding: 24px;
}

.blog-cards .cards-card-body h4 {
  color: #1B1B1E;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
      margin-top: 0px;
    margin-bottom: 0px;
}

.blog-cards .cards-card-body p {
  margin: 0 0 12px 0;
  color: #555;
  line-height: 1.5;
  font-size: 15px;
        margin-top: 8px !important;
    margin-bottom: 16px !important;
}

.blog-cards .cards-card-body ul {
  padding: 0;
  margin: 0 0 24px 0 !important;
  display: flex;
  gap: 12px;
  list-style: none;
  font-size: 14px;
  color: #777;
}

.blog-cards .cards-card-body .button-container {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.blog-cards .cards .cards-card-body .button {
  text-decoration: none;
  font-weight: 600;
  color: #1F4DA8;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.blog-cards .cards .cards-card-body .button::after {
  display: none;
}

.blog-cards .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #D8D8D6;
  border-radius: 50%;
  cursor: pointer;
}

.blog-cards .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 42px;
  height: 8px;
  border-radius: 6px;
  background: #D79F4B;
}

.blog-cards .cards.block p:first-of-type {
    display: inline-flex;
    padding: 4px 12px;
    align-items: center;
    gap: 4px;
    border-radius: 29px;
    background: #D79F4B;
    width: 82px;
    height: 28px;
    position: absolute;
    top: 16px;
    left: 16px;
    margin: 0px;
}
.blog-cards .cards.block p:first-child img{
    min-height: unset;
   max-height: unset;
       object-fit: none;
}
.blog-cards .cards.block p:first-of-type{
  color: #FEFEFD;
font-family: "DM Sans";
font-size: 12px;
font-weight: 500;
line-height: 20px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.blog-cards .cards-wrapper .cards-card-body p:nth-child(2) {
color: #5E5E60;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.blog-cards .cards.block > ul:first-of-type {
  padding-bottom: 40px;
}
 /* .blog-cards .swiper-horizontal>.swiper-pagination-bullets {
  display: none;
 } */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  width: unset !important;
      position: unset;
    text-align: left;
}
.swiper {
  overflow-y: unset !important;
}

@media screen and (max-width: 1024px) {
  .blog-cards {
    padding: 24px !important;
    /* padding-bottom: 76px !important; */
        padding-bottom: 124px !important;
  }
  .blog-cards .cards.block> ul > li {
    width: 73.7% !important;
  }
  .blog-cards .cards.block ul ul{
    display: none;
  }
  .blog-cards .cards.block p:first-of-type {
    /* top: 0px; */
    left: 9px;
  }
  .cards-container .cards-wrapper .cards > ul > li {
            margin: 0 !important;
  }
  .blog-cards .default-content-wrapper {
    margin-bottom: 24px !important;
    line-height: 32px !important; 
  }
  .blog-cards .default-content-wrapper h2 {
    font-size: 24px !important;

  }
  .blog-cards .default-content-wrapper .button-container {
    position: absolute;
    /* bottom: 5px; */
     bottom: 32px;
            left: 50%;
        transform: translateX(-50%);
  }
  .blog-cards .cards-wrapper .cards > ul {
padding-bottom: 24px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog-cards .cards.block > ul > li {
    width: 48.2% !important;
  }
}
/* blog cards variant 2 */
.blog-cards2 .cards.block li {
  width: 31.6456% !important;
}

/* blog cards varient 2 */

/* blogs section variant 1 */
.blog-cards .cards>ul>li, .blog-cards2 .cards>ul>li {
  flex: none;
}

.blog-cards .default-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  max-width: unset;
  margin-bottom: 40px;
}

.blog-cards .default-content-wrapper h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1B1B1E;
  font-family: "DM Sans";
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.blog-cards .default-content-wrapper .button-container a {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.blog-cards .default-content-wrapper .button-container a:hover,
.blog-cards .default-content-wrapper .button-container a:focus {
  text-decoration: none;
}

.blog-cards .default-content-wrapper .button-container {
  display: flex;
  height: 52px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #1B1B1E;
  /* margin-top: 0px; */
}

.blog-cards .default-content-wrapper .button-container::after {
  display: none;
}

.blog-cards .default-content-wrapper .button-container .button {}

.blog-cards .default-content-wrapper .button-container .button::after {
  display: none;
}

.blog-cards2 {
  /* padding: 40px 0; */
  max-width: 1440px;
  margin: 0 auto !important;
  padding-top: 60px;
      padding: 60px 88px;
  /* background-color: #F7F7F7; */
  /* background: #F7F7F7; */
}

.blog-cards2 .cards-card-image img {
  border-radius: 10px;
  height: unset !important;
  min-height: unset !important;
}

.blog-cards2 .cards>ul>li {
  background: transparent !important;
}

.blog-cards2 .cards .cards-card-body {
  background: transparent !important;
}

.blog-cards2 .cards-wrapper {
  max-width: unset;
  /*margin: 0 auto; */
  padding: 0px !important;
  margin: 0px !important;
}

.blog-cards2 .cards.block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 32px;
}

.blog-cards2 .cards.block > ul > li {
  border-radius: 12px;
  overflow: hidden;
  font-size: 14px;
  color: #929292;
  transition: transform 0.25s ease;
  position: relative;
  font-weight: 400;
    line-height: 20px;
    width: 40.27% !important;
    background: #F7F7F7 !important;
    padding: 16px 16px 20px 16px;
}

.blog-cards2 .cards.block li::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 13px;
  width: 4px;
  height: 4px;
  background: #929292;
  /* disc color */
  border-radius: 50%;
}

.blog-cards2 .cards.block li:first-of-type:before {
  display: none;
}

.blog-cards2 .cards-card-image picture,
.blog-cards2 .cards-card-image img {
  display: block;
  width: 100%;
}

.blog-cards2 .cards-card-body {
  padding: 24px;
}

.blog-cards2 .cards-card-body h4 {
  color: #1B1B1E;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.blog-cards2 .cards-card-body p {
  margin: 0 0 12px 0;
  color: #555;
  line-height: 1.5;
  font-size: 15px;
}

.blog-cards2 .cards-card-body ul {
  padding: 0;
  margin: 0 0 16px 0;
  display: flex;
  gap: 12px;
  list-style: none;
  font-size: 14px;
  color: #777;
}

.blog-cards2 .cards-card-body .button-container {
  margin-top: 16px;
}

.blog-cards2 .cards .cards-card-body .button {
  text-decoration: none;
  font-weight: 600;
  color: #1F4DA8;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.blog-cards2 .cards .cards-card-body .button::after {
  display: none;
}

.blog-cards2 .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #D8D8D6;
  border-radius: 50%;
  cursor: pointer;
}

.blog-cards2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 42px;
  height: 8px;
  border-radius: 6px;
  background: #D79F4B;
}

.blog-cards2 .cards.block p:first-of-type {
    display: inline-flex;
    padding: 4px 12px;
    align-items: center;
    gap: 4px;
    border-radius: 29px;
    background: #D79F4B;
    width: 82px;
    height: 28px;
        /* position: absolute;
    top: 16px;
    left: 16px; */
    margin: 0px;
}
.blog-cards2 .cards.block p:first-child img{
    min-height: unset;
   max-height: unset;
       object-fit: none;
}
.blog-cards2 .cards.block p:first-of-type{
  color: #1B1B1E;
font-family: "DM Sans";
font-size: 12px;
font-weight: 500;
line-height: 20px;
    border: 1px solid #D79F4B;
    background: #fff;
}

.blog-cards2 .cards-wrapper .cards-card-body p:nth-child(2) {
color: #5E5E60;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.blog-cards2 .cards.block > ul:first-of-type {
  padding-bottom: 40px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  width: unset !important;
      position: unset;
    text-align: left;
}
.swiper {
  overflow-y: unset !important;
}

.blog-cards2 .cards.block ul > li ul {
  display: none;
}
@media screen and (max-width: 1024px) {
  .blog-cards2 {
    padding: 24px !important;
    /* padding-bottom: 76px !important; */
        padding-bottom: 120px !important;

  }
  .blog-cards2 .cards.block li {
    width: 73.7% !important;
  }
  .blog-cards2 .cards.block ul ul{
    display: none;
  }
  .blog-cards2 .cards.block p:first-of-type {
    /* top: 0px; */
    left: 9px;
  }
  .blog-cards2 .cards-wrapper .cards > ul > li {
            margin: 0 !important;
                width: 73.6% !important;
  }
  .blog-cards2 .default-content-wrapper {
    margin-bottom: 24px !important;
    line-height: 32px !important; 
  }
  .blog-cards2 .default-content-wrapper h2 {
    font-size: 24px !important;

  }
  .blog-cards2 .default-content-wrapper .button-container {
    position: absolute;
    /* bottom: 5px; */
        bottom: 32px;
            left: 50%;
        transform: translateX(-50%);
  }
  .blog-cards2 .cards-wrapper .cards > ul {
padding-bottom: 24px !important;
gap: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog-cards2 .cards.block li {
    width: 48.2% !important;
  }
}
/* blog cards variant 2 */
.blog-cards2 .cards.block li {
  width: 31.6456% !important;
}
.blog-cards2 .default-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  max-width: unset;
  margin-bottom: 40px;
}

.blog-cards2 .default-content-wrapper h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1B1B1E;
  font-family: "DM Sans";
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.blog-cards2 .default-content-wrapper .button-container a {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.blog-cards2.cards-container > div > p::after{
  display: none;
}
.blog-cards2 .default-content-wrapper .button-container a:hover,
.blog-cards2 .default-content-wrapper .button-container a:focus {
  text-decoration: none;
}






/* product variant1 */
.products.cards-container {
      padding: 80px 88px;
        max-width: 1440px;
    margin: 0 auto;
}
.product-variant1.cards-container {
    display: flex;
    justify-content: space-between;
}

.products .default-content-wrapper {
  margin: 0px;
  padding: 0px;
      width: 32.04%;
}
.products h2 {
  color: #1B1B1E;
font-family: "DM Sans";
font-size: 30px;
font-weight: 500;
line-height: 40px;
}
.products .button-container a{
    display: flex;
    height: 52px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #1B1B1E;
    width: 170px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.products.section.cards-container > div > p::after {
  display: none;
}

.products .cards-wrapper {
  padding: 0px;
  width: 58%;
      margin: 0px;
}
.products .cards >ul > li{
border-radius: 12px;
background: radial-gradient(137.93% 71.45% at 49.96% 63.28%, #1B1B1E 0%, #484848 100%);
flex-direction: row;
padding-right: 60px;
justify-content: space-between;
flex: none;
}
.products .cards > ul > li img {
aspect-ratio: unset;
max-height: unset;
min-width: unset;
}
.products .cards > ul > li .cards-card-body {
background: transparent;
    margin-left: 48px;
    margin-top: 0px;
        padding: 40px 0px;
            width: 46.7%;
}
.products .cards-card-body h3{
color: #FEFEFD;
font-family: "DM Sans";
font-size: 30px;
font-weight: 400;
line-height: 32px;
margin-bottom: 8px;
}

.products .cards > ul > li .cards-card-body p{
color: #CECECE;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 16px;
margin-bottom: 32px;
margin-top: 0px;
}
.products .cards-card-body h4{
color: #FEFEFD;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16px;
margin-bottom: 16px;
margin-top: 0px ;
}
.products .cards .cards-card-body ul {
  padding: 0px;
  margin: 0px;
  margin-bottom: 40px;
}
.products .cards .cards-card-body li {
color: #CECECE;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 16px;
list-style: none;
position: relative;
padding-left: 24px;
margin-bottom: 8px;
}
.products .cards .cards-card-body li::before {
  content: "";
display: flex;
width: 16px;
height: 16px;
padding: 6px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
border-radius: 32px;
background: #D79F4B;
    position: absolute;
    left: 0;
}
.products .cards > ul > li .cards-card-body p:last-child {
display: flex;
/* justify-content: center; */
    gap: 16px;
    align-items: center;
    margin-bottom: 0px;
}
.products .cards > ul > li .cards-card-body p:last-child a:first-child {
display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 0.5px solid #FEFEFD;
    color: #FEFEFD;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.products .cards > ul > li .cards-card-body p:last-child a:first-child::after {
display: none;
}
.products .cards > ul > li .cards-card-body p:last-child a:last-child {
display: flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
background: #FEFEFD;
color: #1B1B1E;
font-family: "DM Sans";
font-size: 14px;
font-weight: 400;
line-height: 20px;
}
.products a:hover,
.products a:focus {
  text-decoration: none;
}
.products a:after {
display: none;
}
.products.cards-container .cards-wrapper .cards > ul {
  gap: 0px;
}
/* .products .cards > ul > li .cards-card-image {
  left: -74px;
    top: -62px;
    transform: rotate(3deg);
} */
 .products .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  text-align: center;
 }


/* product cards variant 2 */
.products.product-variant2 {
  background: #F2F2F2;
  padding: 120px 88px;
}
.products.product-variant2 .cards-wrapper {
width: 100%;
}
.products.product-variant2 .default-content-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
        margin-bottom: 40px;
}
.products.product-variant2 h2 {
  margin: 0px;
}
.products.product-variant2 .default-content-wrapper .button-container {
margin: 0px;
}
.products.product-variant2 .cards >ul > li{
  flex-direction: column;
      width: 23.1%;
border-radius: 16px;
background: #FEFEFD;
padding-right: 0px;
}

.products.product-variant2 .cards > ul > li .cards-card-image,
.products.product-variant2 .cards > ul > li .cards-card-image picture,
.products.product-variant2 .cards > ul > li .cards-card-image picture img
{
        width: 100%;
        /* height: 141px; */
}
.products.product-variant2 .cards > ul > li .cards-card-body{
width: 100%;
    padding: 32px 24px 24px;
    margin-left: 0px;
}
.products.product-variant2 .cards > ul > li img{
    /* transform: rotate(-82deg);
    position: relative;
    top: -95px;
    right: -31px; */
        height: 295px;
    object-fit: contain;
}
.products.product-variant2 .cards > ul > li .cards-card-body h3{
    color: #1B1B1E;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.products.product-variant2 .cards > ul > li .cards-card-body p{
    color: #5E5E60;
    font-size: 12px;
    margin-bottom: 32px;
}
.products.product-variant2 .cards-card-body h4{
color: #1B1B1E;
    font-weight: 500;
    margin-bottom: 0px;
}
.products.product-variant2 .cards .cards-card-body li{
margin-top: 16px;
color: #1B1B1E;
    margin-bottom: 0px;
}
.products.product-variant2 .cards .cards-card-body ul{
margin-bottom: 32px;
}
.products.product-variant2 .cards > ul > li .cards-card-body .button-container {
margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products.product-variant2 .cards > ul > li .cards-card-body .button-container a{
    padding: 14px 28px !important;
    border-radius: 100px !important;
    background: #1F4DA8 !important;
    color: #FFF !important;
    font-family: "DM Sans" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    width: 100%;
}
.products.cards-container.product-variant2 .cards-wrapper .cards > ul {
  gap: 32px;
  flex-wrap: wrap;
}
  .products.product-variant2 .cards-wrapper,.products.product-variant2 .default-content-wrapper {
    max-width: unset;
  }


  /* product cards variant 3 */
.products.product-variant3 {
  background: #F2F2F2;
  padding: 120px 88px;
}
.products.product-variant3 .cards-wrapper {
width: 100%;
}
.products.product-variant3 .default-content-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
        margin-bottom: 40px;
}
.products.product-variant3 h2 {
  margin: 0px;
}
.products.product-variant3 .default-content-wrapper .button-container {
margin: 0px;
}
.products.product-variant3 .cards >ul > li{
  flex-direction: column;
      width: 23.1%;
border-radius: 16px;
background: #FEFEFD;
padding-right: 0px;
}

.products.product-variant3 .cards > ul > li .cards-card-image,
.products.product-variant3 .cards > ul > li .cards-card-image picture,
.products.product-variant3 .cards > ul > li .cards-card-image picture img
{
        width: 100%;
        height: 141px;
}
.products.product-variant3 .cards > ul > li .cards-card-body{
width: 100%;
    padding: 24px;
    margin-left: 0px;
}
.products.product-variant3 .cards > ul > li img{
    transform: rotate(-82deg);
    position: relative;
    top: -95px;
    right: -31px;
}
.products.product-variant3 .cards > ul > li .cards-card-body h3{
    color: #1B1B1E;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 20px;
}
.products.product-variant3 .cards > ul > li .cards-card-body p{
    color: #5E5E60;
    font-size: 12px;
    margin-bottom: 32px;
}
.products.product-variant3 .cards-card-body h4{
color: #1B1B1E;
    font-weight: 500;
    margin-bottom: 0px;
}
.products.product-variant3 .cards .cards-card-body li{
margin-top: 16px;
color: #1B1B1E;
    margin-bottom: 0px;
}
.products.product-variant3 .cards .cards-card-body ul{
margin-bottom: 40px;
}
.products.product-variant3 .cards > ul > li .cards-card-body .button-container {
margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products.product-variant3 .cards > ul > li .cards-card-body .button-container a{
    padding: 14px 28px !important;
    border-radius: 100px !important;
    background: #1F4DA8 !important;
    color: #FFF !important;
    font-family: "DM Sans" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    width: 100%;
}
.products.cards-container.product-variant3 .cards-wrapper .cards > ul {
  gap: 32px;
  flex-wrap: wrap;
}
  .products.product-variant3 .cards-wrapper,.products.product-variant3 .default-content-wrapper {
    max-width: unset;
  }
  .products.product-variant3 .cards > ul > li .cards-card-image {
    display: none;
  }

@media screen  and (max-width: 1024px){
  .products.cards-container {
    padding: 48px 24px 84px;
    flex-direction: column;
    position: relative;
  }
  .products .default-content-wrapper {
    width: 100%;
    margin-bottom: 32px;
  }
  .products .cards-wrapper {
    width: 100%;
  }
  .products.cards-container .cards-wrapper .cards > ul {
    display: flex;
    padding: 0px;
  }
  .products .cards > ul > li .cards-card-body {
    padding: 0px 24px 32px;
    margin-left: 0px;
    width: 100%;
  }
  .products .cards-wrapper .cards > ul > li {
   padding: 0px;
   max-height: 461px;
  }
  /* .products .cards > ul > li .cards-card-image {
    width: 100%;
    height: 141px;
            left: 0px;
        top: -7px;
        transform: rotate(11deg);
  } */
  .products .button-container  {
    margin: 0px;
            position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
  }
  .products.cards-container .cards-wrapper .cards > ul > li .cards-card-body h3 {
font-size: 24px;
margin-bottom: 8px;
  }
  .products .cards > ul > li .cards-card-body p{
margin-bottom: 24px;
  }
  .products.cards-container .cards-wrapper .cards > ul > li .cards-card-body h4 {
margin-bottom: 16px;
  }
  .products .cards .cards-card-body ul {
    margin-bottom: 32px;
  }
  .products .cards .cards-card-body li:last-child {
    margin-bottom: 0px;
  }
  .products.cards-container .cards-wrapper .cards > ul > li img {
/* transform: rotate(270deg);
        position: relative;
        top: -114px;
                width: 327px; */
                            height: 141px;
        object-fit: contain;
  }
  .products .cards > ul > li .cards-card-image {
    width: 100%;
  }
  .products .cards > ul > li .cards-card-image picture{
    /* aspect-ratio: 327 / 141; */
            display: flex;
        justify-content: center;
        align-items: center;
        overflow: unset;
  }


  /* product variant 2 */

  .products.product-variant2 .default-content-wrapper {
   flex-direction: column;
   align-items: normal;
  }
  .products.product-variant2 h2 {
    margin-bottom: 32px;
  }
  .products.product-variant2 .default-content-wrapper .button-container{
            position: initial;
        transform: none;
  }
  .products.product-variant2 {
padding: 48px 24px 32px;
  }

  .products.product-variant2 .cards-wrapper .cards > ul {
    flex-direction: column;
  }
  .products.product-variant2 .cards >ul > li {
    width: 100%;
        max-height: 533px;
  }

  .products.product-variant2.cards-container .cards > ul > li img {

  }
  .products.product-variant2 .cards-wrapper .cards > ul > li img {
        top: -18px;
        right: -21px;
  }
  .products.product-variant2 .cards-wrapper .cards > ul > li .cards-card-body h3 {
    font-size: 16px;
    font-family: Inter;
    line-height: 16px;
  }
  .products.product-variant2 .button-container {
        position: unset;
    transform: unset;
  }
  .products.product-variant2 .cards > ul > li .cards-card-image {
        width: 100%;
    /* height: 141px;
    left: 0px;
    top: -7px; */
        /* height: 294px; */
    
  }
  .products.product-variant2 .cards > ul > li .cards-card-image picture img {
            /* aspect-ratio: 202.89 / 294.99; */
               /* width: 257.89px;
        height: 371.992px; */
  }

  /* products variant 3 */

  /* product variant 2 */

  .products.product-variant3 .default-content-wrapper {
   flex-direction: column;
   align-items: normal;
  }
  .products.product-variant3 h2 {
    margin-bottom: 32px;
  }
  .products.product-variant3 .default-content-wrapper .button-container{
            position: initial;
        transform: none;
  }
  .products.product-variant3 {
padding: 48px 24px 32px;
  }

  .products.product-variant3 .cards-wrapper .cards > ul {
    flex-direction: column;
  }
  .products.product-variant3 .cards >ul > li {
    width: 100%;
        max-height: 533px;
  }

  .products.product-variant3.cards-container .cards > ul > li img {

  }
  .products.product-variant3 .cards-wrapper .cards > ul > li img {
top: -36px;
    right: -41px;
  }
  .products.product-variant3 .cards-wrapper .cards > ul > li .cards-card-body h3 {
    font-size: 16px;
    font-family: Inter;
    line-height: 16px;
  }
  .products.product-variant3 .button-container {
        position: unset;
    transform: unset;
  }
  .products.product-variant3 .cards > ul > li .cards-card-image {
        width: 100%;
    height: 141px;
    left: 0px;
    top: -7px;
  }
  .products.product-variant3 .cards > ul > li .cards-card-image picture img {
        aspect-ratio: 202.89 / 294.99;
    width: 202.89px;
    height: 294.992px;
  }
}