.benefits-section1  {
    max-width: 1440px;
    margin: 0 auto !important;
    padding: 120px 88px;
    gap: 32px;
}
.benefits-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits {
  display: flex;
  gap: 40px;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.benefits-section1 .benefits-section-wrapper {
padding: 0px;
height: 391px;
background: #f7f7f7;
border-radius: 16px;
width: 91.6%;
position: relative;
padding: 32px;
}

.benefits-card {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.benefits-content h2 {
  color: #1B1B1E;
font-family: "DM Sans";
font-size: 24px;
font-weight: 400;
line-height: 30px;
  margin-bottom: 16px;
  margin-top: 0px;
}

.benefits-content p {
 color: #1B1B1E;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
}

.benefits-section1 .cta {
    gap: 10px;
    border-radius: 100px;
    background: #1F4DA8;
    width: 136px;
    height: 44px;
        align-items: center;
    display: flex;
    justify-content: center;
        position: absolute;
    bottom: 40px;
}
.benefits-section1 .cta  a {
color: #FEFEFD;

font-family: "DM Sans";
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

.benefits-section1 .cta  a::after {
    display: none;
}

.benefits .button {
  display: inline-block;
  padding: 10px 22px;
  background: #1f4fbf;
  color: #fff;
  border-radius: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}


@media screen and (max-width: 1024px) {
    .benefits-section1 {
        flex-direction: column;
    }
    .benefits-card {
        gap: 32px;
    }
    .benefits-section1 .benefits-section-wrapper {
        padding: 24px !important;
        height: 368px !important;
    }
    .benefits-section1 .cta {
        bottom: 24px;
    }
    .benefits-content p {
            margin-top: 0px;
    margin-bottom: 0px;
    }
}