.promotionalbanner-container,
.cards-container,
.carousel-container,
.benefits-section-container,
.nav-wrapper,
.header-wrapper {
    display: none;
}

/* Track-Record-Varient-1 */
.track-record-varient1 .track-record-wrapper {
    display: flex;
    justify-content: right;
}

.track-record-varient1 .track-record-wrapper .block {
    width: 80%;
}

.track-record-varient1 .track-record-wrapper .block>div>div>p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 400);
    font-size: 30px;
    line-height: 40px;
    letter-spacing: var(--letter-spacing, 0);
    color: #1B1B1E;
}

.track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item>div {
    border-left: 1px solid #D8D8D6;
    padding: 0 80px 0 40px;
}

.track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item>div>div p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 500);
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0;
    color: #D79F4B;
}

.track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item>div :last-child p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 400);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #5E5E60;
    margin-top: 12px;
}

@media (max-width: 768px) {
    .track-record-varient1 .track-record-wrapper {
        display: block;
    }

    .track-record-varient1 .track-record-wrapper .block {
        width: 100%;
    }

    .track-record-varient1 .track-record-wrapper .block>div>div>p {
        font-size: 20px;
        line-height: 28px;
    }

    .track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }

    .track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item>div {
        border-bottom: 1px solid #D8D8D6;
        border-left: unset;
        padding: 24px 0;
    }

    .track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item>div>div p {
        line-height: 62px;
    }

    .track-record-varient1 .track-record-wrapper .block .track-record-wrapper-item>div :last-child p {
        margin-top: 8px;
    }
}

/* Track-Record-Varient-2 */
.track-record-varient2 .track-record-wrapper .block>div>div>p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 400);
    font-size: 48px;
    line-height: 54px;
    letter-spacing: var(--letter-spacing, 0);
    color: #1B1B1E;
}

.track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item>div {
    border-left: 1px solid #D8D8D6;
    padding: 0 80px 0 40px;
    display: flex;
    flex-direction: column-reverse;
    height: 380px;
    justify-content: space-between;
}

.track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item>div>div p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 500);
    font-size: 96px;
    line-height: 120px;
    letter-spacing: 0;
    color: #D79F4B;
}

.track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item>div :last-child p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 400);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #5E5E60;
}

@media (max-width: 768px) {
    .track-record-varient2 .track-record-wrapper .block>div>div>p {
        font-size: 20px;
        line-height: 28px;
    }

    .track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }

    .track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item>div {
        border-bottom: 1px solid #D8D8D6;
        border-left: unset;
        padding: 24px 0;
        height: 158px;
    }

    .track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item>div>div p {
        font-size: 48px;
        line-height: 62px;
    }

    .track-record-varient2 .track-record-wrapper .block .track-record-wrapper-item>div :last-child p {
        margin-top: 8px;
    }
}

/* Track-Record-Varient-3 */
.track-record-varient3 .track-record-wrapper .block>div>div>p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 400);
    font-size: 48px;
    line-height: 54px;
    letter-spacing: var(--letter-spacing, 0);
    color: #1B1B1E;
}

.track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    row-gap: 80px;
}

.track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item>div {
    width: 26.9%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item>div>div p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 500);
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0;
    color: #1F4DA8;
    padding: 24px 0 0 12px;
}

.track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item>div :last-child p {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight, 400);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #5E5E60;
    border-bottom: 1px solid #D8D8D6;
    padding: 0 0 16px 12px;
}

@media (max-width: 768px) {
    .track-record-varient3 .track-record-wrapper .block>div>div>p {
        font-size: 20px;
        line-height: 28px;
    }

    .track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        row-gap: 48px;
    }

    .track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item>div {
        width: 100%;
    }

    .track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item>div>div p {
        font-size: 48px;
        line-height: 40px;
        padding: 16px 0 0 0;
    }

    .track-record-varient3 .track-record-wrapper .block .track-record-wrapper-item>div :last-child p {
        font-size: 14px;
        padding: 0 0 16px 0;
    }
}