/* RESET */
.nav-hamburger,
.lang-switcher {
  display: none;
}

.header ul {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

/* =========================
   TOP PROMO BAR
========================= */
.header-top .default-content-wrapper>a {
  display: block;
}

.header-top {
  background: var(--primary, #0a3b8f);
  color: var(--neutral-0, #fff);
  font-size: 14px;
  text-align: center;
  position: relative;
}

.header-top .default-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 0px;
  display: flex;
  justify-self: center;
}

/* language list */
.header-lang-wrapper {
  position: relative;
  cursor: pointer;
}

.header-lang-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

/* hide second item */
.header-lang-wrapper ul li:nth-child(2) {
  display: none;
}

/* open state */
.header-lang-wrapper.open ul li:nth-child(2) {
  display: block;
}

/* arrow */
.header-lang-wrapper ul::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  margin-left: 6px;
  transition: 0.3s;
}

/* arrow up */
.header-lang-wrapper.open ul::after {
  transform: rotate(-135deg);
}

.header-top a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.header-lang-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: absolute;
  right: 90px;
}

.header-lang-wrapper .icon-icon-world {
  padding: 3px 0;
}

/* globe icon */
.header-lang-wrapper img {
  width: 18px;
  height: 18px;
  /* filter: invert(1); */
}

.header-lang-wrapper p {
  margin: 0;
  display: flex;
  align-items: center;
}

/* language list */
.header-lang-wrapper ul {
  display: flex;
  align-items: center;
  gap: 6px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

/* hide second language */
.header-lang-wrapper ul li:nth-child(2) {
  display: none;
}

/* =========================
   MAIN NAV BAR
========================= */
.header-menu {
  background: #fff;
  /* border-bottom: 1px solid #e5e7eb; */
}

.header-menu .default-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.header-menu picture img {
  height: 36px;
  width: auto;
}

/* NAV LINKS */
.header-menu ul {
  display: flex;
  gap: 36px;
  font-size: 15px;
  font-weight: 500;
  color: #111827;
}

.header-menu li {
  cursor: pointer;
  position: relative;
}

.header-menu li:hover {
  color: #0a3b8f;
}

.header-menu-body {
  width: 100%;
  background: #fff;
  display: none;
}

.header-variant1.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper,
.header-variant2.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.header-variant1.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper ul,
.header-variant2.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper ul {
  width: 29%;
}

.header-variant1.header-menu-body .default-content-wrapper .header-menu-body-inner-img-wrapper .img-text-wrapper>p:first-child,
.header-variant2.header-menu-body .default-content-wrapper .header-menu-body-inner-img-wrapper .img-text-wrapper>p:first-child {
  width: 614px;
  height: auto;
}

.header-variant1.header-menu-body .default-content-wrapper,
.header-variant2.header-menu-body .default-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: flex-start;
}

.header-menu ul li {
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-weight-400, 400);
  font-family: var(--DM-Sans, sans-serif);
  color: var(--charcoal,  #1B1B1E);
  padding: 8px 0;
}

.header-menu ul li.active {
  font-weight: bold;
  border-bottom: 2px solid var(--secondary, #D79F4B);
  font-weight: var(--font-weight-600, 600);
  color: var(--charcoal,  #1B1B1E);
}

/* COLUMN HEADERS */
.header-menu-body ul li:first-child {
  margin-bottom: 24px;
  font-family: var(--DM-Sans, sans-serif);
  font-weight: var(--font-weight-500, 500);
  font-size: 14px;
  line-height: 20px;
  color: var(--charcoal,  #1B1B1E);
}

/* MENU ITEMS */
.header-variant1.header-menu-body .header-menu-body-inner-ul-wrapper ul li {
  margin-bottom: 14px;
}

.header-variant1.header-menu-body .header-menu-body-inner-ul-wrapper ul li a {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-weight-400, 400);
  color: #797979;
  text-decoration: none;
}

.header-variant1.header-menu-body .header-menu-body-inner-ul-wrapper ul li strong {
  font-weight: var(--font-weight-500, 500);
  font-size: 12px;
  line-height: 20px;
  color: #FEFEFD;
}

.header-variant2.header-menu-body .header-menu-body-inner-ul-wrapper ul li {
  margin-bottom: 16px;
}

.header-variant2.header-menu-body .header-menu-body-inner-ul-wrapper ul li a {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-weight-400, 400);
  color: #797979;
  text-decoration: none;
}

.header-variant2.header-menu-body .header-menu-body-inner-ul-wrapper ul li strong {
  font-weight: var(--font-weight-500, 500);
  font-size: 12px;
  line-height: 20px;
  color: #FEFEFD;
  background-color: var(--secondary, #D79F4B);
  border-radius: 29px;
  display: inline-block;
  padding: 4px 12px;
}

.header-menu-body-inner-img-wrapper .img-text-wrapper {
  position: relative;
  margin-bottom: 24px;
}

.header-menu-body-inner-img-wrapper .img-text-wrapper>p:nth-child(2) {
  position: absolute;
  top: 48px;
  left: 40px;
  font-family: var(--DM-Sans, sans-serif);
  font-weight: var(--font-weight-500, 500);
  font-size: 28px;
  line-height: 30px;
  max-width: 226px;
  color: var(--charcoal,  #1B1B1E);
}

.header-menu-body-inner-img-wrapper .img-text-wrapper>p:last-child a {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-radius: 100px;
  background-color: var(--charcoal,  #1B1B1E);
  font-size: 16px;
  line-height: 20px;
  font-family: var(--DM-Sans, sans-serif);
  font-weight: var(--font-weight-400, 400);
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  bottom: -80px;
}

/* =========================
   MOBILE STYLES
========================= */
@media (max-width: 768px) {
  .header-top {
    display: none;
  }

  .header-menu .default-content-wrapper {
    flex-direction: column;
    gap: 16px;
    padding: 20px 0px;
  }

  .header-variant1.header-menu-body .default-content-wrapper,
  .header-variant2.header-menu-body .default-content-wrapper {
    grid-template-columns: 1fr;
    padding: 0 24px;
    gap: 0px;
  }

  .header-variant1.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper,
  .header-variant2.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper {
    flex-direction: column;
    gap: 0px;
    width: 100%;
    order: 2;
  }

  .header-variant1.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper ul,
  .header-variant2.header-menu-body .default-content-wrapper .header-menu-body-inner-ul-wrapper ul {
    width: 100%;
    border-bottom: 0.5px solid #B2B3B5;
  }

  .header-menu ul {
    flex-direction: row;
    width: 100%;
    gap: 12px;
    border-bottom: 0.5px solid #B2B3B5;
    overflow-x: auto;
  }

  .header-menu-body {
    position: static;
    display: none;
    border-top: none;
  }

  .header-menu-body .default-content-wrapper {
    grid-template-columns: 1fr;
    padding: 24px;
    gap: 0px;
  }

  /* .header-menu-body picture img */
  .header-variant1.header-menu-body .default-content-wrapper .header-menu-body-inner-img-wrapper .img-text-wrapper>p:first-child,
  .header-variant2.header-menu-body .default-content-wrapper .header-menu-body-inner-img-wrapper .img-text-wrapper>p:first-child {
    width: 100%;
    margin-bottom: 39px;
  }

  .header-menu-body-inner-img-wrapper .img-text-wrapper {
    margin-bottom: 0;
  }

  .header-menu-body-inner-img-wrapper .img-text-wrapper>p:nth-child(2) {
    top: 28px;
    left: 23px;
    font-size: 16.71px;
    line-height: 17.9px;
    max-width: 226px;
  }

  .header-menu-body-inner-img-wrapper .img-text-wrapper>p:last-child a {
    padding: 7px 14px;
    font-size: 10px;
    line-height: 12px;
    bottom: -40px;
  }

  /* SHOW HAMBURGER */
  .nav-hamburger {
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 44px;
    height: 44px;
    z-index: 1000;
  }

  .nav-hamburger button {
    width: 44px;
    height: 44px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  /* ICON BARS */
  .nav-hamburger-icon {
    position: relative;
    width: 24px;
    height: 2px;
    background: #111827;
    display: block;
  }

  .nav-hamburger-icon::before,
  .nav-hamburger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background: #111827;
  }

  .nav-hamburger-icon::before {
    top: -8px;
  }

  .nav-hamburger-icon::after {
    top: 8px;
  }

  /* =========================
     OPEN STATE
  ========================= */
  nav[aria-expanded="true"] {
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 999;
    overflow-y: auto;
  }

  nav[aria-expanded="true"] .header-menu {
    display: block;
    width: 100%;
  }

  nav[aria-expanded="true"] .header-menu .default-content-wrapper {
    align-items: flex-start;
    padding-left: 24px;
  }

  nav[aria-expanded="false"] .header-menu ul {
    display: none;
  }



  /* TURN INTO X */
  /* DEFAULT (CLOSED) → LEFT */
  nav[aria-expanded="false"] .nav-hamburger {
    left: 16px;
    right: auto;
  }

  /* OPEN → RIGHT */
  nav[aria-expanded="true"] .nav-hamburger {
    right: 16px;
    left: auto;
  }

  /* Smooth movement */
  .nav-hamburger {
    transition: left 0.3s ease, right 0.3s ease;
  }

  nav[aria-expanded="true"] .nav-hamburger-icon {
    background: transparent;
  }

  nav[aria-expanded="true"] .nav-hamburger-icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  nav[aria-expanded="true"] .nav-hamburger-icon::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .header-menu-body .default-content-wrapper ul.active li:not(:first-child) {
    display: list-item;
    display: none;
    cursor: default;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #797979;
  }

  .header-menu-body .default-content-wrapper ul li:first-child {
    cursor: pointer;
    user-select: none;
    margin-bottom: 0px;
    padding: 16px 0;
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-400, 400);
    font-size: 16px;
    line-height: 20px;
    color: var(--charcoal,  #1B1B1E);
  }

  /* first li styling */
  .header-menu-body ul li:first-child {
    position: relative;
    padding-right: 24px;
    cursor: pointer;
    font-weight: 600;
  }

  /* arrow (closed = down) */
  .header-menu-body ul.active li:first-child::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: translateY(-50%) rotate(45deg);
    /* down arrow */
    transition: transform 0.3s ease;
  }

  /* open state = arrow up */
  .header-menu-body ul li:first-child::after {
    transform: translateY(-50%) rotate(-135deg);
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: transform 0.3s ease;
    /* up arrow */
  }
}