.promotional-banner-container,
.cards-container,
.carousel-container,
.benefits-section-container,
.nav-wrapper,
.header-wrapper,
.track-record-varient1,
.process-step-varient1 {
    display: none;
}

/* notification-banner-varient1 */
/* notification-banner-varient2 */
/* notification-banner-varient3 */

/* simple-banner-varient1 */
/* Banner shell */
.banner.simple-banner-type-1 {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--Charcoal, #1B1B1E);
    border-radius: 24px;
    overflow: hidden;
    min-height: 360px;
    padding: 70px 48px 70px 80px;
}

/* Image wrapper (right side cards) */
.banner.simple-banner-type-1>div:first-child {
    position: absolute;
    right: 48px;
    bottom: -8px;
    pointer-events: none;
}

.banner.simple-banner-type-1 picture img {
    width: 100%;
    height: auto;
}

/* Content wrapper (left text) */
.banner.simple-banner-type-1>div:last-child {
    position: relative;
    max-width: 794px;
    z-index: 2;
}

/* Heading */
.banner.simple-banner-type-1>div:last-child p:nth-child(1) {
    margin-bottom: 16px;
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-500, 500);
    font-size: 48px;
    line-height: 62px;
    letter-spacing: var(--letter-spacing, 0);
    color: var(--Warm-White);

}

/* Description */
.banner.simple-banner-type-1>div:last-child p:nth-child(2) {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-400, 400);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing, 0);
    color: var(--Warm-White);
    margin-bottom: 32px;
}

/* CTA */
.banner.simple-banner-type-1>div .button-container a {
    display: inline-block;
    padding: 16px 32px;
    background: var(--Warm-White);
    color: var(--Charcoal);
    border-radius: 44px;
    cursor: pointer;
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-400, 400);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: var(--letter-spacing, 0);
}

.simple-banner-varient1 .banner-wrapper .block>div>div>.button-container a::after {
    display: unset;
    content: none;
}

.simple-banner-varient1 .banner-wrapper .block>div>div.button-container a:hover {
    text-decoration: none;
    underline: none;
}

a:hover,
a:focus,
a.button:hover,
a.button:focus{
    text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
    .banner.simple-banner-type-1 {
        flex-direction: column-reverse;
        padding: 32px 24px 0 24px;
    }

    .banner.simple-banner-type-1>div:first-child {
        position: relative;
        width: 100%;
        right: auto;
        bottom: -8px;
        margin-top: 30px;
        transform: none;
    }

    .banner.simple-banner-type-1>div:last-child {
        max-width: 100%;
    }

    .banner.simple-banner-type-1>div:last-child p:nth-child(1) {
        font-size: 32px;
    }

    .banner.simple-banner-type-1>div:last-child p:nth-child(1) {
        font-size: 24px;
        line-height: 30px;
    }

    .banner.simple-banner-type-1>div:last-child p:nth-child(2) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .banner.simple-banner-type-1>div:last-child p:nth-child(3) {
        font-size: 14px;
    }
}

/* simple-banner-varient2 */
.simple-banner-varient2 .banner-wrapper .block>div:nth-of-type(1) {
    display: none;
}

.simple-banner-varient2 .banner-wrapper .block {
    background: radial-gradient(92.52% 92.52% at 3.6% 33.33%, #1F4BA8 0%, #0F3174 100%);
    min-height: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}


.simple-banner-varient2 .banner-wrapper .block>div:nth-of-type(2)>div>p {
    display: none;
}

.simple-banner-varient2 .banner-wrapper .block>div:nth-of-type(2)>div>p:nth-of-type(1) {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-400, 400);
    font-size: 48px;
    line-height: 62px;
    letter-spacing: var(--letter-spacing, 0);
    color: #FEFEFD;
    display: block;
    text-align: center;
    margin-bottom: 32px;
}

@media (max-width: 768px) {

    .simple-banner-varient2 .banner-wrapper .block {
        padding: 32px 24px;
    }


    .simple-banner-varient2 .banner-wrapper .block>div:nth-of-type(2)>div>p:nth-of-type(1) {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 24px;
    }
}

/* simple-banner-varient3 */

/* simple-banner-varient4 */
.simple-banner-varient4 .banner-wrapper .block picture {
    /* display: none; */
}

.simple-banner-varient4 .banner-wrapper .block {
    padding: 24px;
}

.simple-banner-varient4 .banner-wrapper .block {
    background: linear-gradient(91.27deg, #FEFEFD 0.37%, #F5E9D5 0.37%, #D79F4B 98.59%);
    min-height: 282px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple-banner-varient4 .banner-wrapper .block>div:first-child {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.simple-banner-varient4 .banner-wrapper .block>div:first-child picture,
.simple-banner-varient4 .banner-wrapper .block>div:first-child picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -30px;
}

.simple-banner-varient4 .banner-wrapper .block>div:last-child>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 1;
    padding: 0 24px;
}

.simple-banner-varient4 .banner-wrapper .block>div>div>p:first-child {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-400, 400);
    font-size: 48px;
    line-height: 62px;
    letter-spacing: var(--letter-spacing, 0);
    color: #000000;
    text-align: center;
    margin-bottom: 13px;
}

.simple-banner-varient4 .banner-wrapper .block>div>div>p:nth-of-type(2) {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-400, 400);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing, 0);
    color: #000000;
    text-align: center;
}

.simple-banner-varient4 .banner-wrapper .block>div>div>.button-container a {
    font-family: var(--DM-Sans, sans-serif);
    font-weight: var(--font-weight-400, 400);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: var(--letter-spacing, 0);
    color: #FEFEFD;
    text-align: center;
    margin-top: 40px;
    max-width: 153px;
    padding: 16px 32px;
    background-color: #1B1B1E;
    border-radius: 44px;
}

.simple-banner-varient4 .banner-wrapper .block>div>div>.button-container a::after {
    display: unset;
    content: none;
}

.simple-banner-varient4 .banner-wrapper .block>div>div.button-container a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .simple-banner-varient4 .banner-wrapper .block {
        /* padding: 32px 24px 27px 24px; */
    }

    .simple-banner-varient4 .banner-wrapper .block>div:last-child>div {
        /* padding: 0; */
    }

    .simple-banner-varient4 .banner-wrapper .block>div>div>p:first-child {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    .simple-banner-varient4 .banner-wrapper .block>div>div>p:nth-of-type(2) {
        font-size: 14px;
    }

    .simple-banner-varient4 .banner-wrapper .block>div>div>p:last-child {
        width: 100%;
        max-width: unset;
    }

    .simple-banner-varient4 .banner-wrapper .block>div>div>.button-container a {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-top: 32px;
        max-width: unset;
        width: 100%;
    }
}