/* variant 1 */
.banner-varient1 {
    padding-top: 60px;
    background-color: var(--accent-color, #C8E5F5);
    /* padding-top: 82px; */
    padding-top: 112px;
    /* margin-top: 44px !important; */
    margin: 0px;
}
.banner-varient1.promotional-banner-container,
.banner-varient2.promotional-banner-container,
.banner-varient3.promotional-banner-container,
.banner-varient4.promotional-banner-container {
margin-top: 154px !important;
}
.banner-varient1 img {
    margin-bottom: -8px;
    max-width: none;
    width: -webkit-fill-available;
}

.promotional-banner-container .promotionalbanner-wrapper {
    padding: 0px;
    max-width: none;
    margin: 0 auto;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-varient1 .bannner-image {
    padding-top: 61px;
    /* width: 56%; */
        width: 61.7%;
}

.banner-varient1 .promotionalbanner {
    position: relative;
    display: flex;
}

.promotional-banner-container h2 {
    color: var(--charcoal, #1B1B1E);
    font-family: var(--DM-Sans, sans-serif);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 16px;
}

.promotional-banner-container p {
    margin-top: 0;
    margin-bottom: 48px;
    color: var(--slate-gray, #5E5E60);
    font-family: var(--Inter, sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.banner-varient1 .banner-conetent {
    max-width: 462px;
    width: 40%;
    margin-left: -70px;
}

.promotional-banner-container .redirections {
    display: flex;
    gap: 16px;
}

.promotional-banner-container .redirections a::after {
    display: none;
}

.promotional-banner-container .redirections a:hover,
.promotional-banner-container .redirections a:focus {
    text-decoration: none;
}

.promotional-banner-container .redirections a:first-child {
    height: 52px;
    padding: 16px 48px;
    border-radius: 100px;
    background: var(--charcoal, #1B1B1E);
    color: var(--neutral-0,#fff);
    font-family: var(--DM-Sans, sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.promotional-banner-container .redirections a {
    text-decoration: none;
}
.promotional-banner-container .redirections a:nth-child(2) {
    padding: 16px 48px;
    border-radius: 100px;
    border: 1px solid var(--charcoal, #1B1B1E);
    color: var(--charcoal, #1B1B1E);

    font-family: var(--DM-Sans, sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.promotional-banner-container .promotional-banner-wrapper {
padding: 0px;
max-width: unset;
}

@media screen and (max-width: 1024px) {
    .banner-varient1.promotional-banner-container,
.banner-varient2.promotional-banner-container,
.banner-varient3.promotional-banner-container,
.banner-varient4.promotional-banner-container{
        /* margin-top: 90px !important; */
        margin-top: 152px !important;
        background-size: contain;
    }

    .banner-varient1 .promotionalbanner {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .promotional-banner-container h2 {
        line-height: 34px;
        font-size: 30px;
    }

    .promotional-banner-container p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .banner-varient1 .bannner-image {
        width: 100%;
        padding-top: 0px;
    }

    .banner-varient1 img {
        width: 100%;
    }

    .banner-varient1 .banner-conetent {
        padding: 56px 24px 0px;
        width: 100%;
        max-width: 100%;
        margin-left: unset;
    }

    .promotional-banner-container .redirections {
        margin-bottom: 38px;
    }

    .promotional-banner-container .redirections a:first-child {
        padding: 12px 24px;
        line-height: 28px;
        font-size: 14px;
    }

    .promotional-banner-container .redirections a:nth-child(2) {
        padding: 12px 24px;
        line-height: 28px;
        font-size: 14px;
    }


    /* variant 2 */
    .banner-varient2 .promotionalbanner-content {
        flex-direction: column;
        padding: 24px !important;
    }

    .banner-varient2 .bannner-image {
        width: 100% !important;
        margin-right: 0px !important;
        margin-bottom: 16px;

    }

    .banner-varient2 .banner-conetent {
        width: 100% !important;
    }

    .banner-varient2.promotional-banner-container h2 {
        margin-bottom: 8px;
    }

    .banner-varient2.promotional-banner-container .redirections {
        margin-bottom: 0px;
    }

    /* varient 3 */
    .desktop-img {
        display: none;
    }

    .mob-img {
        display: block !important;
    }

    .promotional-banner-container.banner-varient3 .grid-content {
        flex-direction: column;
        align-items: initial !important;
    }

    .bottom-content {
        padding: 24px;
    }

    .banner-varient3 .banner-conetent {
        padding: 0px !important;
    }

    .promotional-banner-container.banner-varient3 .grid-content h2 {
        padding: 24px;
    }

    /* variant 4 */
    .banner-varient4 .banner-conetent {
        padding: 16px !important;
        width: 91% !important;
        margin: 32px !important;
    }

    .promotional-banner-container.banner-varient4 {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        min-height: 100vh !important;
    }
    .promotional-banner-container.banner-varient4 .promotional-banner-wrapper {
      margin: unset;
    }
    .promotional-banner-container.banner-varient3 .grid-content > div {
        width: 100% !important;
    }
    .promotional-banner-container.banner-varient3 .grid-content .bottom-content {
        width: 100% !important;
    }
}
@media screen and (max-width: 768px) {
.banner-varient1.promotional-banner-container,
.banner-varient2.promotional-banner-container,
.banner-varient3.promotional-banner-container,
.banner-varient4.promotional-banner-container {
        margin-top: 106px !important;
    }
}
@media screen and (min-width: 1024px) and(max-width: 1104px) { 
    .banner-varient1 .bannner-image{
width: 65.7%;
}
}
/* variant 2 */
.banner-varient2 .promotionalbanner-content {
    display: flex;
    padding: 60px 88px;
    align-items: center;
    justify-content: space-between;
}

.banner-varient2 .bannner-image {
    width: 49.8%;
    margin-right: 105px;
}

.banner-varient2 img {
    border-radius: 20px;
    width: 100%;
}

.banner-varient2 .banner-conetent {
    width: 43.6%;
}


/* variant 3 */
.promotional-banner-container.banner-varient3 .promotionalbanner-wrapper {
    max-width: none;
}

.banner-varient3 .banner-conetent {
    padding: 60px 88px;
}

.banner-varient3 .bannner-image {
    width: 100%;
}

.mob-img {
    display: none;
}

.banner-varient3 img {
    width: 100%;
}

.banner-varient3 .promotionalbanner-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.promotional-banner-container.banner-varient3 p {
    margin-bottom: 25px;
}

.promotional-banner-container.banner-varient3 .grid-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promotional-banner-container.banner-varient3 .grid-content > div {
width: 38.2%;
}
.promotional-banner-container.banner-varient3 .grid-content .bottom-content {
width: 42.4%;
} 
.promotional-banner-container.banner-varient3 .grid-content h2 {
    margin-bottom: 0px;
}

.promotional-banner-container.banner-varient3 .grid-content .redirections {
    margin-bottom: 0px;
}

/* variant 4 */

.banner-varient4 {
    min-height: 490px !important;
}

.banner-varient4 .promotionalbanner-content {
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding-bottom: 100px; */
}

.banner-varient4 .banner-conetent {
    padding: 32px;
    border-radius: 12px;
    background: var(--neutral-0,#fff);
    margin-top: 55px;
    width: 41.3%;
    margin-right: 88px;
}

.banner-varient4 .redirections {
    margin-bottom: 0px;
}



/* hi tech banner variant 1 */

.hitech-banner-variant1 {
    background: linear-gradient(101deg, #05060D 42.11%, #8B8FA8 239.35%);
    max-width: 1440px;
    margin: 0 auto;
}

.hitech-banner-variant1 .promotionalbanner-content {
    display: flex;
    flex-direction: row-reverse;
}

.hitech-banner-variant1 .bannner-image {
    width: 54.5%;
}

.hitech-banner-variant1 .banner-conetent {
    width: 41.9%;
    padding: 104px 0px 0px 88px;
    margin-right: 32px;
}

.hitech-banner-variant1 .banner-conetent h2,
.hitech-banner-variant2 .banner-conetent h2,
.hitech-banner-variant3 .banner-conetent h2,
.hitech-banner-variant4 .banner-conetent h2 {
    color: #E6E8F1;
    font-family: "Space Grotesk";
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
}

.hitech-banner-variant1 .banner-conetent p,
.hitech-banner-variant2 .banner-conetent p,
.hitech-banner-variant2 .banner-conetent p,
.hitech-banner-variant2 .banner-conetent p {
    color: #B8B8B8;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hitech-banner-variant1.promotional-banner-container .banner-conetent a,
.hitech-banner-variant2.promotional-banner-container .banner-conetent a {
    display: flex;
    width: 166px;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #E6E8F1;
    color: #10172A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* hi tech variant 2 */
.hitech-banner-variant2 {
    background: linear-gradient(109deg, #000 11.78%, #1E1E1E 133.49%);
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 88px 0px 88px;
    min-height: 726px !important;
    position: relative;
}

/* .hitech-banner-variant2 .promotional-banner-wrapper {
    width: 82.2%;
} */

.hitech-banner-variant2 .promotionalbanner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    /* width: 82.2%; */
}

.hitech-banner-variant2 .bannner-image {
    position: absolute;
    bottom: -7px;
}

.hitech-banner-variant2 .redirections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 0px;
}

.hitech-banner-variant1 .banner-conetent h2 {
    margin-bottom: 24px;
}


/* hi tecg bannner variant 3 */
.hitech-banner-variant3 {
    padding: 80px 88px;
    max-width: 1440px;
    margin: 0 auto;
}

.hitech-banner-variant3 .promotional-banner-wrapper {}

.hitech-banner-variant3 .promotionalbanner-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hitech-banner-variant3 .promotionalbanner-content .banner-conetent {
    width: 48.9%;

}

.hitech-banner-variant3 .bannner-image {
    width: 45.9%;
}

.hitech-banner-variant3 .redirections {}
.hitech-banner-variant3.promotional-banner-container .banner-conetent h2,
.hitech-banner-variant4.promotional-banner-container .banner-conetent h2 {
color: var(--Nebula-Navy, #10172A);
}

.hitech-banner-variant3.promotional-banner-container .banner-conetent p,
.hitech-banner-variant4.promotional-banner-container .banner-conetent p {
color: #666;
}
.hitech-banner-variant3.promotional-banner-container .banner-conetent a,
.hitech-banner-variant4.promotional-banner-container .banner-conetent a {
    display: flex;
height: 48px;
padding: 12px 24px;
justify-content: center;
align-items: flex-start;
gap: 8px;
border-radius: 4px;
background: var(--Nebula-Navy, #10172A);
color: var(--Lunar-Gray, #E6E8F1);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
/* hi tech banner variant 4 */

.hitech-banner-variant4 {
    padding: 80px 0px;
    max-width: 1440px;
    margin: 0 auto;
}

.hitech-banner-variant4 .promotionalbanner-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.hitech-banner-variant4 .banner-conetent {
    width: 48.9%;
    padding-right: 88px;
}

.hitech-banner-variant4 .bannner-image {
    width: 45.9%;
}

.hitech-banner-variant4 .redirections {}

@media screen and (max-width: 1024px) {
    .hitech-banner-variant1 .promotionalbanner-content {
        flex-direction: column-reverse;
    }

    .hitech-banner-variant1 .bannner-image {
        width: 100%;
        display: flex;
        justify-content: end;
        position: relative;
    }

    .hitech-banner-variant1 .banner-conetent {
        width: 100%;
        padding: 56px 24px 0px 24px;
    }

    .hitech-banner-variant1 .banner-conetent h2 {
        font-family: "Space Grotesk";
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 12px;
    }

    .hitech-banner-variant1 .banner-conetent p,
    .hitech-banner-variant2 .banner-conetent p {
        margin-bottom: 0px;
        color: #B8B8B8;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
    }

    .hitech-banner-variant2 .banner-conetent h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .hitech-banner-variant1 .banner-conetent .redirections,
    .hitech-banner-variant2 .banner-conetent .redirections {
        margin-bottom: 0px;
        margin-top: 32px;
    }

    /* hitech bannner variant 2 */
    .hitech-banner-variant2 {
        padding: 80px 24px 0px 24px !important;
        min-height: 520px !important;
    }

    .hitech-banner-variant2 .promotionalbanner-content {
        width: 100%;
    }

    /* hitech banner variant 3 */
    .hitech-banner-variant3.promotional-banner-container {
        padding: 24px;
    }

    .hitech-banner-variant3.promotional-banner-container .promotionalbanner-content {
        flex-direction: column;
        gap: 26px;
    }

    .hitech-banner-variant3.promotional-banner-container .bannner-image {
        width: 100%;
        text-align: center;
    }

    .hitech-banner-variant3.promotional-banner-container .bannner-image img {
        width: 327px;
        height: 323px;
    }

    .hitech-banner-variant3.promotional-banner-container .promotionalbanner-content .banner-conetent {
        width: 100%;
        text-align: center;
    }

    .hitech-banner-variant3.promotional-banner-container .redirections {
        align-items: center;
        justify-content: center;
    }


    /* hi tecg banner variant 4 */

    /* hitech banner variant 3 */
    .hitech-banner-variant4.promotional-banner-container {
        padding: 24px 0px;
    }

    .hitech-banner-variant4.promotional-banner-container .promotionalbanner-content {
        flex-direction: column;
        gap: 26px;
    }

    .hitech-banner-variant4.promotional-banner-container .bannner-image {
        width: 100%;
    }

    .hitech-banner-variant4.promotional-banner-container .bannner-image img {
        width: 281px;
        height: 282px;
    }

    .hitech-banner-variant4.promotional-banner-container .promotionalbanner-content .banner-conetent {
        width: 100%;
        text-align: center;
        padding: 0px 24px;
    }

    .hitech-banner-variant4.promotional-banner-container .redirections {
        align-items: center;
        justify-content: center;
    }
    .hitech-banner-variant3.promotional-banner-container .banner-conetent h2, 
    .hitech-banner-variant4.promotional-banner-container .banner-conetent h2 {
      margin-bottom: 12px;
          line-height: 32px;
          font-size: 24px;
    }

    .hitech-banner-variant3.promotional-banner-container .banner-conetent p, 
    .hitech-banner-variant4.promotional-banner-container .banner-conetent p {
        margin-bottom: 32px;
    }
}