/* variant 1 */
.banner-varient1 {
    padding-top: 60px;
    background-color: #C8E5F5;
    padding-top: 82px;
    margin-top: 44px !important;
}

.banner-varient1 img {
    margin-bottom: -8px;
    max-width: none;
}

.banner-varient1 .promotionalbanner-wrapper {
    padding: 0px;
    max-width: none;
    margin: 0 auto;
        max-width: 1440px;
    margin: 0 auto;
}

.banner-varient1 .bannner-image {
    padding-top: 61px;
    width: 56%;
}

.banner-varient1 .promotionalbanner {
    position: relative;
    display: flex;
}

.banner-varient1 h2 {
    color: #1B1B1E;
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 16px;
}

.banner-varient1 p {
    margin-top: 0;
    margin-bottom: 48px;
    color: #5E5E60;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.banner-varient1 .banner-conetent {
    max-width: 462px;
    width: 40%;
}

.banner-varient1 .redirections {
    display: flex;
    gap: 16px;
}

.banner-varient1 .redirections a::after {
    display: none;
}

.banner-varient1 .redirections a:hover,
.banner-varient1 .redirections a:focus {
    text-decoration: none;
}

.banner-varient1 .redirections a:first-child {
    height: 52px;
    padding: 16px 48px;
    border-radius: 100px;
    background: #1B1B1E;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.banner-varient1 .redirections a:nth-child(2) {
    padding: 16px 48px;
    border-radius: 100px;
    border: 1px solid #1B1B1E;
    color: #1B1B1E;

    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .banner-varient1 {
        margin-top: 90px !important;
        background-size: contain;
    }

    .banner-varient1 .promotionalbanner {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .banner-varient1 h2 {
        line-height: 34px;
        font-size: 30px;
    }

    .banner-varient1 p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .banner-varient1 .bannner-image {
        width: 100%;
        padding-top: 0px;
    }

    .banner-varient1 img {
        width: 100%;
    }

    .banner-varient1 .banner-conetent {
        padding: 56px 24px 0px;
        width: 100%;
        max-width: 100%;
    }

    .banner-varient1 .redirections {
        margin-bottom: 38px;
    }

    .banner-varient1 .redirections a:first-child {
        padding: 12px 24px;
        line-height: 28px;
        font-size: 14px;
    }

    .banner-varient1 .redirections a:nth-child(2) {
        padding: 12px 24px;
        line-height: 28px;
        font-size: 14px;
    }
}

/* variant 2 */