footer {
  background-color: var(--dark-color);
  font-size: var(--body-font-size-xs);
  font-family: var(--light-font-family);
  background-color: var(--dark-color-opacity);
  background-color: #000;
  width: 100%;
  z-index: 2;
  color: #ffffff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

footer .footer a {
  color: #ffffff;
  text-decoration: none;
}

footer .footer a:hover {
  color: var(--main-accent-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 50px 32px;
  }
}



.footer-wrapper {
  background: #E2F1FB !important;
  color: #1B1B1E !important;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    /* max-width: 1440px;
    margin: 0 auto !important; */
    background: #E2F1FB;
    /* padding: 100px 88px 30px; */
    gap: 110px;
}
.footer-wrapper .footer  > div{
  max-width: 1440px;
  margin: 0 auto;
 padding: 100px 88px 30px;
 display: flex;
     flex-direction: column;
    gap: 100px;
}
.footer-main .default-content-wrapper {
  display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    gap: 24px;
    width: 31.1%;
}
.footer-main .default-content-wrapper p {
  margin: 0px;
  color: #1B1B1E;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}
.footer-main .default-content-wrapper p:first-child {
  display: flex;
    gap: 8px;
    align-items: center;
    color: #1B1B1E;
font-family: "DM Sans";
font-size: 24px;
font-weight: 500;
line-height: 34px;
}
.footer-main .default-content-wrapper ul{
    display: flex;
    align-items: center ;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 12px;
}
.footer-main .default-content-wrapper ul li a::after {
  display: none;
}
.footer-main .accordion-wrapper {
    margin: 0px;
    padding: 0px;
    /* width: 52.45%; */
    width: 69.45%;
}
.footer-main .accordion-wrapper .accordion{
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
.accordion-wrapper .accordion details {
  border: none;
  margin-top: 0px;
}
.accordion-wrapper .accordion details summary {
padding: 0px;
margin-bottom: 16px;
pointer-events: none;
}
.accordion-wrapper .accordion details summary p{
color: #1B1B1E;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 20px;
opacity: 0.7;
}
.accordion details summary::after {
  display: none;
}
.accordion details summary:focus,
.accordion details summary:hover {
  background: transparent;
}
.accordion details[open] summary {
  background: transparent;
}
.accordion details[open] .accordion-item-body {
      border-top: none;
    background-color: transparent;
    padding: 0px;
}
.accordion details .accordion-item-body ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
      display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-main .accordion-wrapper .accordion a{
  opacity: 0.7;
}
.footer ul li a{
  text-decoration: none;
  color: #1B1B1E;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}
.footer ul li a:hover {
  color: #1B1B1E;
}
.footer ul li a::after {
display: none;
}

.footer .footer-bottom {
    border-top: 0.5px solid #B2B3B5;
    padding-top: 30px;
}
.footer-bottom .default-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom .default-content-wrapper p {

}
.footer-bottom .default-content-wrapper ul{
    display: flex;
    align-items: center;
    gap: 21px;
    list-style: none;
}
.footer-bottom .default-content-wrapper ul:last-child {
  display: none;
}
.footer-bottom .default-content-wrapper p {
color: #1B1B1E;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
opacity: 0.7;
}
.footer-bottom a {
  opacity: 0.7;
}

/* footer variant 2 */
/* .footer-main.footer-variant2 .default-content-wrapper ul{
display: none;
}
.footer-bottom.footer-variant2 .default-content-wrapper ul:first-child {
  display: none;
}
.footer-bottom.footer-variant2 .default-content-wrapper ul:last-child {
  display: block;
} */

@media screen and (max-width: 992px) {
  .footer-main {
    gap: 40px;
  }
  .footer-wrapper .footer > div  {
    padding: 40px 24px 44px;
    gap: 40px;
  }
  .footer-main {
    flex-direction: column;
  }
  .footer-main .default-content-wrapper {
    width: 100%;
  }
  .footer-main .accordion-wrapper {
    width: 100%;
  }
  .accordion-wrapper .accordion details {
    border-bottom: 0.5px solid #B2B3B5;
            /* padding-bottom: 24px; */
  }
  .accordion-wrapper .accordion details summary {
    pointer-events: auto;
            padding: 24px 0px;
        margin-bottom: 0px;
  }
  .accordion details[open] .accordion-item-body {
    padding-bottom: 24px;
  }
  .accordion details summary::after {
    right: 4px;
  }
  .accordion details summary::after {
  display: block;
} 
  .footer-main .accordion-wrapper .accordion {
    gap: 0px;
  }
  .footer-main .accordion-wrapper .accordion {
    flex-direction: column;
  }
  .footer .footer-bottom {
    border: none;
  }
.footer-bottom .default-content-wrapper {
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
.footer-bottom .default-content-wrapper ul {
  margin: 0;
  padding: 0px;
}
}