footer {
  background-color: var(--dark-color);
  font-size: var(--body-font-size-xs);
  font-family: var(--light-font-family);
  background-color: var(--dark-color-opacity);
  background-color: #000;
  width: 100%;
  z-index: 2;
  color: #ffffff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

footer .footer a {
  color: #ffffff;
  text-decoration: none;
}

footer .footer a:hover {
  color: var(--main-accent-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 50px 32px;
  }
}




.footer-main {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto !important;
    background: #E2F1FB;
    padding: 100px 88px 30px;
}

.footer-main .default-content-wrapper {
  display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    gap: 24px;
    width: 31.1%;
}
.footer-main .default-content-wrapper p {
  margin: 0px;
}
.footer-main .default-content-wrapper p:first-child {
  display: flex;
    gap: 8px;
    align-items: center;
}
.footer-main .default-content-wrapper ul{
    display: flex;
    align-items: center ;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 12px
    ;
}
.footer-main .default-content-wrapper ul li a::after {
  display: none;
}
.footer-main .accordion-wrapper {
    margin: 0px;
    padding: 0px;
    width: 52.45%;
}